#tudo1 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
}
#tudo2 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}
#tudo3 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
}
#tudo4 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: purple;
	float:left;
}

#tudo5 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
}
#tudo6 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}
#tudo7 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
}
#tudo8 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: purple;
	float:left;
}

#tudo9 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
}
#tudo10 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}
#tudo11 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
}
#tudo12 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: purple;
	float:left;
}

#tudo13 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
}
#tudo14 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}
#tudo15 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
}
#tudo16 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: purple;
	float:left;
}
#tudo17 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: purple;
	float:left;
}

#tudo18 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
}
#tudo19 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}
#tudo20 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
}

*{
    margin-top: 1%; 
    margin-left: 1%;
    margin-bottom: 0%; 
    padding: 0%;
} 